@use 'config/const';

body {
  margin: 0;
  font-family: Yu Gothic, YuGothic, sans-serif;
}

.title {
  color: const.$main-color;
}

.post-categories {
  @include const.init-list-style();
}

.widgets {
  @include const.init-list-style();
  ul {
    padding-left: 0;
  }
}